__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg/
.venv/
.env
.env.*
config.json
study_time.db
.vscode/
.DS_Store
studybot-service.exe
studybot-service.out.log
studybot-service.err.log
studybot-service.wrapper.log
